---
layout: default
title: Past Meetings
weight: 
---

{% assign sorted = (site.github.public_repositories | sort: 'name') %}
  
<h1>Past Meetings</h1>
<ul>
  {% for repository in sorted reversed %}{% if repository.has_pages %}{% unless repository.name contains 'github.io' %}{% if repository.name contains 'dali' %}<li>
    <a href="{{ repository.name | prepend: site.baseurl }}"><b>DALI {{ repository.name | remove_first: "dali" }}</b></a> {{ repository.description }} 
  </li>{% endif %}{% endunless %}{% endif %}{% endfor %}    
</ul>

