---
weight: 2
title: Venue
layout: page
---

<p>
  {{ site.conference.shortname }} {{ site.conference.year }} will take place in the {%if site.conference.venue_url %}<a href="{{site.conference.venue_url}}">{%endif%}{{site.conference.venue }}{%if site.conference.venue_url %}</a>{%endif%}, {{ site.conference.location }} from <del>Monday, April 13 to Thursday, April 16, 2020</del> {{ site.conference.dates[0] | date: "%A, %B %-d" }} to {{ site.conference.dates.last | date: "%A, %B %-d, %Y" }}.
</p>

<h3>Accommodation</h3>

<p>
  We recommend that participants and their families stay directy at the conference venue (see below for more details).
  You can book a room at the {{site.conference.venue }} either when <a href="/registration">registering for the conference</a>, or directly by <a href="https://www.eventosycongresosweb.com/pub/1900011/q2/cgi.hrb?idexp=L0YUZ&main=alojamiento">following this link</a>.
</p>
<p>
  <em>Note:</em> In case you book your accommodation before you register for the conference, you will later only have to fill in the personal area in order to select the registration fee.
  It is not necessary to fill out the registration form again (that way your profile would be duplicated).
</p>


<h3>Details</h3>

<div class="infobox-venue">
  <div class="tiny-text">
    <i class="fas fa-map-marker-alt"></i> <b>Carrer Punta Negra 12, 
    07181 Costa d'en Blanes,
    Illes Balears</b>
  </div>
  <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=2.5469505786895756%2C39.524641972216905%2C2.558001279830933%2C39.53015336825218&amp;layer=mapnik&amp;marker=39.52740047259695%2C2.552479491569102" title="Map"></iframe>
  <hr/>
  <img src="{{ 'hotel-photo-1.jpg' | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}" alt="Hotel Pool" title="Hotel Pool"/>
  <br/>
  <img src="{{ 'hotel-photo-2.jpg' | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}"  alt="Hotel Room" title="Hotel Room"/>
  <br/>
  <img src="{{ 'hotel-photo-3.jpg' | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}"  alt="Meeting Room" title="Meeting Room"/>
</div>

<p>
  The H10 Punta Negra is a lovely boutique hotel located on a small peninsular on the Costa d'en Blanes in the south of Mallorca.
  It is situated in one of the island's most beautiful areas, and offers a fantastic view of the ocean and the nearby marina.
  The hotel's large landscaped gardens give it a very special character that will allow you to enjoy the peaceful surroundings.
  Furthermore, guests can also easily visit the island's capital, Palma de Mallorca, which is only 12&thinsp;km away and was named <a href="https://www.thetimes.co.uk/article/best-places-to-live-in-the-world-the-winner-n9bl8vlpl38">»the best place to live in the world«</a> by <em>The Times</em> in 2015.
  Finally, the hotel also has five meeting rooms with natural light and unique coastal surroundings, equipped with everything you need to hold a successful conference.
</p>
<p>
  For more information, please visit the website of the <a href="{{ site.conference.venue_url }}">{{ site.conference.venue }}</a>.
</p>


<h3>How to get there</h3>
<p>
  The closest airport is <a href="http://www.aena.es/en/palma-mallorca-airport/index.html">Palma de Mallorca</a>, which is the only commercial airport on the island of Mallorca.
  Alternatively, there are also a number of ferries, starting, for example, from Barcelona and Valencia.
</p>
<p>
  From the airport, you can take a taxi (ca. 25&nbsp;minutes), or use the <a href="https://www.tib.org/en/web/ctm/autobus/linia/a11">autobus line A11</a>, which directly goes from the airport to Costa d'en Blanes (stop "H. Punta Negra").
</p>