
<div class="infobox-red">
    <span style="font-weight: bold; font-size: large; margin-bottom: 1em; margin-top: 0; display: block;">Important announcement: DALI 2021 has been cancelled</span>
    <p>
      Dear DALI participants!
    </p>
    <p>
      Due to the ongoing pandemic, DALI 2021 has been cancelled. 
      If you paid your registration fee or have a hotel booking with our agency, we will be in touch to reimburse you over the next couple of weeks.
      You can reach out to <a href="mailto:sevillacongresos@viajeseci.es">sevillacongresos@viajeseci.es</a> for any questions.
    </p>
  </div>
  