<footer class="site-footer">
<div class="wrapper">

  <!-- Basic conference information -->
  <div class="footer-left">
    {{ site.conference.name }} <br>
    {{ site.conference.dates[0] | date: "%B %-d" }} to {{ site.conference.dates.last | date: "%-d, %Y" }} &middot; 
    {% if site.conference.venue_url %}
      <a href="{{ site.conference.venue_url }}">{{ site.conference.venue }}</a><br>
    {% else %}
      {{ site.conference.venue }}<br>
    {% endif %}
    {{ site.conference.location }}
  </div>

  <!-- Social media and contact information -->
  <div class="footer-right">

    {% if site.contact_email %}
    <a href="mailto:{{ site.contact_email }}"><i class="icon-envelope"></i>&nbsp;Contact Mail</a><br/>
    {% endif %}

    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}"><i class="icon-github"></i>&nbsp;{{ site.github_username }}</a><br/>
    {% endif %}

    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="icon-twitter"></i>&nbsp;{{ site.twitter_username }}</a>
    {% endif %}

  </div>

</div>
</footer>
