<header class="site-header">
<div class="wrapper">

  <div class="site-title">
    <a href="{{ site.baseurl }}">{{ site.title }}<span class="subtitle"> – {{ site.subtitle }}</span></a>
  </div>

  {% if site.banner %}
  <div class="header-image-wrap">
    <img src="{{ site.banner | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}"
     srcset="{{ 'banner-740px.jpg 740w' | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }},{{ 'banner-1480px.jpg 1480w' | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}" 
     sizes="740px" class="header-image" title="{{ site.title }}" alt="{{ site.title }}" />
  </div>
  {% endif %}

  <nav class="site-nav">

    <a href="#" class="menu-icon"><i class="icon-bars"></i></a>
      
    <div class="trigger">
      {% assign pages = site.html_pages | sort: "weight" %}
      {% for page in pages%}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      <i class="page-link-separator"></i>
      {% endfor %}
    </div>

  </nav>

</div>
</header>
