<li class="list-day-li">
  <h3>
    <a href="{{ day.url | prepend: site.baseurl }}">{{ day.date | date: "%A, %B %-d, %Y" }}: {{ day.description }}</a>
  </h3>
  <table class="list-day-table">
  {% for event in day.events %}
    <tr>
      {% if event.hide_time %}
        <td colspan="3" class="centered-td">
          {{ event.title }}
        </td>
      {% else %}
        <td class="time-td">{{ event.starttime }}{% if event.endtime %}&thinsp;–&thinsp;{{ event.endtime }}{% endif %}</td>
        <td class="separator-td">—</td>
        <td class="title-td">{{ event.title }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
</li>