<script type="text/javascript" src="{{ "/js/jquery-1.7.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/simpleCart.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">

            var customerName = "",
                orderID = "",
                customerID = "",
                sageGUID = "24ade73c-98cf-47b3-99be-cc7b867b3080",
                serviceKey = "26fe2b1e-95f2-4029-83fc-85c487813205";

            simpleCart({
                checkout: {
                    type: "SendForm" ,
                    url: "https://paynow.sagepay.co.za/site/paynow.aspx" ,

                    // HTTP method for form, "POST"
                    method: "POST" ,

                    // URL to redirect browser to after successful checkout
                    success: "http://simplecart.gatewaymodules.com/success.html" ,

                    // URL to redirect browser to after checkout was cancelled by buyer
                    cancel: "http://simplecart.gatewaymodules.com/fail.html" ,

                    // set the currency
                    currency: "EUR",
                            
                    extra_data: {
                        currency_code: "EUR",
                        m1 : serviceKey,
                        m2 : sageGUID,
                        p2 : (new Date).getTime(),

                        p3 : customerName + " | " + orderID,
                        m3 : sageGUID,
                        m4 : customerID,

                        p4 : simpleCart.total                           // Total amount = item1 + item2 + item3 etc

                    }
                },
                beforeCheckout: function( data ){
                    data.currency = "EUR";
                    data.cancel_url = data.cancel_return;
                    data.return_url = data.return;
                    var sagepaynow_description = '';
                    for (var key in data)
                        if (key.match(/^item_name/))
                        	sagepaynow_description += ' '+data[key];
                    data.item_description = data.item_name = sagepaynow_description;
                }
            });
        </script>
