<script type="text/javascript" src="{{ '/js/jquery-1.7.2.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/simpleCart.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">

            var customerID = "",
                sageGUID = "24ade73c-98cf-47b3-99be-cc7b867b3080",
                serviceKey = "26fe2b1e-95f2-4029-83fc-85c487813205";
            
            simpleCart({
                checkout: {
                    // currency
                    currency: "ZAR",           
                            
                    type: "SendForm" ,
                    url: "https://paynow.sagepay.co.za/site/paynow.aspx" ,
 
                    // HTTP method for form, "POST"
                    method: "POST" ,

                    // URL to redirect browser to after successful checkout
                    success: "http://dalimeeting.org/accept.html" ,

                    // URL to redirect browser to after checkout was cancelled by buyer
                    cancel: "http://dalimeeting.org/decline.html" ,   
                   
                    extra_data: {
                        currency_code: "ZAR",
                        m1 : serviceKey,
                        m2 : sageGUID,
                        m3 : sageGUID,
                        m4 : customerID,
                        p4 : simpleCart.total,                           // Total amount = item1 + item2 + item3 etc
                    }
                },
                beforeCheckout: function( data ){
                    var customerFirstname = document.getElementById("customerFirstname").value,
                        customerLastname = document.getElementById("customerLastname").value,
                        customerAffiliation = document.getElementById("customerAffiliation").value,
                        customerEmail = document.getElementById("customerEmail").value;
                    
                    // update data
                    data.p2 = customerFirstname + "_" + customerLastname + "_" + customerEmail + "_" + (new Date).getTime();
                    data.p3 = "DALI2019 registration fee for " + customerFirstname + " " + customerLastname;
                    data.m9 = customerEmail;
                  
                    var sagepaynow_description = '';
                    for (var key in data)
                        if (key.match(/^item_name/))
                        	sagepaynow_description += ' '+data[key];
                    data.item_description = data.item_name = sagepaynow_description;
                    
                    alert("You are being redirected to a secure payment via sage Pay.")
                }
            });
        </script>

            
