<script type="text/javascript" src="{{ '/js/jquery-1.7.2.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/simpleCart.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">

            var customerFirstname = "",
                customerLastname = "",
                customerAffiliation = "",
                customerEmail = "",
                customerID = "",
                sageGUID = "24ade73c-98cf-47b3-99be-cc7b867b3080",
                serviceKey = "26fe2b1e-95f2-4029-83fc-85c487813205";

            simpleCart({
                checkout: {
                    // currency
                    currency: "ZAR",           
                            
                    type: "SendForm" ,
                    url: "https://paynow.sagepay.co.za/site/paynow.aspx" ,

                    // HTTP method for form, "POST"
                    method: "POST" ,

                    // URL to redirect browser to after successful checkout
                    success: "http://dalimeeting.org/accept.html" ,

                    // URL to redirect browser to after checkout was cancelled by buyer
                    cancel: "http://dalimeeting.org/decline.html" ,   
                   
                    extra_data: {
                        currency_code: "ZAR",
                        m1 : serviceKey,
                        m2 : sageGUID,
                        p2 : customerFirstname + "_" + customerLastname + "_" + customerEmail + "_" + (new Date).getTime(),

                        p3 : "DALI2019 registration fee: " + customerFirstname + " " + customerLastname,
                        m3 : sageGUID,
                        m4 : customerID,

                        p4 : simpleCart.total,                           // Total amount = item1 + item2 + item3 etc
                                
                        m9 : customerEmail

                    }
                },
                beforeCheckout: function( data ){
                    data.currency = "ZAR";
                    data.cancel_url = data.cancel_return;
                    data.return_url = data.return;
                    var sagepaynow_description = '';
                    for (var key in data)
                        if (key.match(/^item_name/))
                        	sagepaynow_description += ' '+data[key];
                    data.item_description = data.item_name = sagepaynow_description;
                }
            });
            
            <!--- update item in the cart --->
            function initializeCart() {
               simpleCart.empty();
               simpleCart.add({name:"Academia", price: 7500.00, quantity: 1});
               document.getElementById("display").innerHTML = "Your cart: Academia (7500.00 ZAR)";
            }
    
            function updateCart() {
               var item = document.getElementById("customerType").value;
    
               alert(item);

               simpleCart.empty();
               if (item == "academia"){
                  simpleCart.add({name:"Academia", price: 7500.00, quantity: 1});
               }else if(item == "industry"){
                  simpleCart.add({name:"Industry", price: 10000.00, quantity: 1});
               }
                        
               document.getElementById("display").innerHTML = "Your cart: " + item;
            }
        </script>
