/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
html { box-sizing: border-box; }

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 1.6;
}
h3, h4, h5, h6, .small-margin {
  margin-bottom: $spacing-unit / 5;
  margin-top: $spacing-unit / 8;
} 
.no-margin-bottom {
  margin-bottom: 0;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol { margin-left: $spacing-unit; }

li {
  > ul, 
  > ol { margin-bottom: 0; }
}


/**
 * Headings and paragraphs
 */
 h1 { font-size: 1.80em; }
 h2 { font-size: 1.50em; }
 h3 { font-size: 1.17em; }
 h4 { font-size: 1.00em; }
 h5 { font-size: 0.83em; }
 h6 { font-size: 0.67em; }

 p { line-height: 1.6em; }

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover { 
    color: darken($brand-color, 15%);
  }  
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child { margin-bottom: 0; }
}


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code { padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}


/**
 * Horizontal lines
 */

 hr {
   border: 1px solid $grey-color-light;
   margin-top: $spacing-unit;
   margin-bottom: $spacing-unit;
 }


/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
