/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  position: relative;

  @include media-query($on-mobile) { 
    padding-bottom: $spacing-unit / 2;
  }
}


.header-image { width: 100%; }


.site-title {
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  font-weight: 500;

  a {
    color: $text-color;
    text-decoration: none;
  }

  @include media-query($on-mobile) { 
    text-align: left; 

    .subtitle { display: none; }
  }
}


.site-nav {
  line-height: 64px;
  text-align: center;
  font-weight: 500;
  background: $background-color;

  .menu-icon { display: none; }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $text-color;
    }
  }

  .page-link-separator {
    margin-left: 10px;
    margin-right: 10px;

    &::after { content: '·'; }

    &:last-of-type { display: none; }
  }

  @include media-query($on-mobile) {
    position: absolute;
    top: 12px;
    right: $spacing-unit;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
    
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      color: $grey-color-dark;
    }

    .trigger { 
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 10px;
      font-size: xx-large;
      
      &:hover { border: 0; }
    }

    a:hover { text-decoration: none; }

    .page-link-separator { display: none; }
  }
}

/**
 * Site content
 */

.content {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.infobox-special-offer {
  box-sizing: border-box;
  width: 100%;
  padding: $spacing-unit / 2.5;
  background: lighten($brand-color, 50%);
  margin-top: $spacing-unit / 2;  
  margin-bottom: $spacing-unit / 2;  
}

.infobox-venue {
  box-sizing: border-box;
  float: right;
  width: 42%;
  padding: $spacing-unit / 2.5;
  background: $grey-color-light;
  margin-left: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;

  @include media-query($on-mobile) {
    float: none;
    margin: 0;
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    width: 100%;
  }

  iframe {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lighten($grey-color, 25);
    overflow: hidden;
  }

  hr {
    border: 1px solid lighten($grey-color, 25);
    margin-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
  }

  img {
    margin: 0;
    margin-top: $spacing-unit / 4;
    box-sizing: border-box;
    border: 1px solid lighten($grey-color, 25);
  }

  .tiny-text {
    font-size: xx-small;
    text-align: center;
    margin-bottom: $spacing-unit / 4;
  }
}


.workshop-header {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2.5;
  background: lighten($grey-color-light, 2%);
  line-height: 2em;
  @extend %clearfix;

  .workshop-header-key {
    width: 15%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;

    @include media-query($on-mobile) {
      width: 100%;
      float: none;
    }
  }

  .workshop-header-value {
    width: 85%;
    float: left;

    @include media-query($on-mobile) {
      width: 100%;
      float: none;
    }
  }

  .workshop-header-separator {
    margin-bottom: $spacing-unit / 4;
    width: 100%;
    float: none;

    @include media-query($on-mobile) {
      margin-bottom: $spacing-unit / 2;
    }
  }

}

.list-workshop-li { 
  margin-bottom: $spacing-unit;

  h3 { margin-bottom: $spacing-unit / 8; }
}

.list-day-li { 
  margin-bottom: $spacing-unit;

  h3 { margin-bottom: $spacing-unit / 2; }
}

.list-day-table {
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;

  tr:nth-child(odd) {background: lighten($grey-color, 40%);}

  tr { 
    width: 100%; 
    margin: 0; 
    padding: 0;
  }
  
  td { padding: $spacing-unit / 6; }

  .centered-td {
    width: 100%;
    font-style: italic;
    text-align: center;
  }

  .time-td { 
    width: 48%; 
    text-align: right;
  }

  .title-td { 
    width: 48%; 
    font-weight: 500;
  }

  .separator-td { 
    width: 4%;
    text-align: center;
  }

  @include media-query($on-mobile) {
    font-size: small;
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  font-size: small;
  color: darken($grey-color, 15);
  line-height: 1.5em;

  a { 
    color: darken($grey-color, 15); 

    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.footer-left {
  float: left;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

.footer-right {
  float: right;
  text-align: right;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    text-align: center;
  }
}
