---
layout: page
---

<article>
	  

    <p>We have organized the following activities during DALI 2017.</p>
    
    <ul>
        <li>
            <b>April 17</b> - <a href='#welcome'>Welcome Reception</a>
            </li>
        <li>
            <b>April 18</b> - <a href='#boat'>Boat Trip - Whale and Dolphin Watching Excusion</a>
            </li>
        <li>
            <b>April 19</b> - <a href='#siam'>Visit to Siam Acuatic Park (For Families)</a>
        </li>
        <li>
            <b>April 20</b> - <a href='#dinner'>Gala Dinner</a>
        </li>       
        
    </ul>
    
    <br>
    
    <h1 id='welcome'><b>Welcome Reception</b></h1>    
    
    <p>
        On <b>April 17</b>, to celebrate the beginning of DALI 2017, we will offer participants and their families a welcome reception. The event will take place in the Chill-out terrace of the conference hotel and will start at 7:30 p.m.
    </p>
	
    <img  src="http://www.viajeselcorteingles.es/imagenes/tm/europa/espana/canarias-islas/tci-tenerife/tcisu-costa-adeje/qpav5jj7/mdm-16tcisu413-21.hca-chill-out-terrace.jpg">
    <br>
    <br>
    <br>
    
    <h1 id='boat'><b>Boat Trip - Whale and Dolphin Watching Excusion</b></h1>    
    
    <p>
        On <b>April 18</b>, during the session break, we have planned a 90 min boat trip. Buses will pick us at the hotel entrance at 2 p.m. and will take us to  <a href='http://www.tenerifedolphin.com'>Puerto Colón</a> to take the boat.
	All conference attendants and families are very welcome!
    </p>
	
    <img  src="http://static.andronautic.com/photos/activity/large/-5f6376e8-2a889f55-0.jpg">
    	
    
    <br>
    <br>
    <br>
	
    
	
        
    <h1 id='acquarium'><b>Visit to Siam Park (For Families)</b></h1>    
    
    <p>
        On <b>April 19</b>, during the morning session of DALI's Symposium day, we have organized a visit to <a href='http://www.siampark.net/index.php/en/'>Siam aquatic park</a>. The park has attractions for both adults and kids of any age, as well as swimming pools to simply relax and enjoy the visit.
    </p>
    
    <img  src="http://www.webtenerife.com/es/que-hacer/ocio/parques-ocio/lists/galeriamultimediatenerife/siam-park-11.jpg">
    
    <br>
    <br>
    <br>
        
    <h1 id='dinner'><b>Gala Dinner</b></h1>    
    
    <p>
        On <b>April 20</b>, after last Symposium talk, we invite DALI participants and their families to a Gala dinner at <b>La Choza Restaurant</b> in the hotel conference. The event starts at <b>8:30 PM</b>
    </p>
    
    
    <br>
     
     
    
</article>


