---
layout: page
---

<article>
	  
	
   <p>DALI is designed as a family-inclusive meeting and every participant is encouraged 
	   to bring their families along. There will be activities organised for families, and time 
	   for everyone to be together. 
	   <br><br>
	
	<h3>Safari</h3>   
	   
	During the long lunch break on Friday, we will take everyone for a real safari experience. We have 
	 booked a guided game drive (3h) at Botlierskop (<a href="https://www.botlierskop.co.za" target="_blank">https://www.botlierskop.co.za</a>) where we will hopefully 
	 be able to see lions, elephants, zebras, hippos and more.
	<br>
	  <p style="text-align:center;"><img src="{{ '/assets/botlierskop-rhinos.jpg' | prepend: site.baseurl }}" /></p>
	<br>
	
	   We will leave the hotel together by bus at 1:00pm (everyone will get a lunch box on the bus) and 
	   come back in the evening at 6:00pm giving everybody enough time to take a quick shower and relax 
	   before the last keynote of the day and the conference dinner afterwards.
<br><br>
           We have booked tickets for all participants and family members. Please let us know if you do not
	   want to or cannot attend.
	</p>

        <h3>Day at the Beach</h3>
        <p>On Thursday, we will take all kids and family members to the <b>Herold’s Bay Beach</b>. It is only 15 km from 
		George and is a beautiful small beach where kids can play and adults can relax. There are two tidal 
		pools which can be used by the little ones at low tide. 
		<br><br>
	We will leave at 10:00 am in the morning by bus and bring you back in the afternoon (2:00-3:00pm, depending 
		on how the group feels). Everyone will receive a lunch box on the bus.
	</p>
			    
    <br>
    <br>
    <br>	
    
    <br>
</article>


