---
layout: page
---

<article>
	  
	
   

    <p>We have organized the following activities for DALI 2017.</p>
    
    <ul>
        <li>
            <b>April 2</b> - <a href='#welcome'>Welcome Reception</a>
            </li>
        <li>
            <b>April 3</b> - <a href='#boat'>Visit to Rancho Texas (For Families)</a>
            </li>
        <li>
            <b>April 4</b> - <a href='#siam'>Lanzarote West - Visit to Timanfaya Natural Park</a>
        </li>
        <li>
            <b>April 5</b> - <a href='#dinner'>Gala Dinner</a>
        </li>       
        
    </ul>
	
    <h1 id='welcome'><b>Welcome Reception</b></h1>    
    
    <p>
        On <b>April 2nd</b>, to celebrate the beginning of DALI 2017, we will offer participants and their families a welcome cocktail consisting of warm and cold tapas. The event will take place in the Plaza Canaria terrace of the conference hotel and will start at 7:30 p.m.
    </p>
    <br>
    <br>
    <br>
    
    <br>
</article>


