---
layout: page
---	  
<article>



The {{ site.conference.name }} conference will take place in the {{site.conference.venue }} hotel, {{ site.conference.location }}.
From {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.


<br>
<br>

<p>
<a href="https://drive.google.com/open?id=1Cs_NQw_C_l2_L8-RTAl1rkI8i_U&usp=sharing">
<img border="0" src="assets/Map_Lanzarote.png" width="75%" height="75%">
</a>
</p>
     <br>
    <br>
    <p> The hotel is situated in the south of Lanzarote on Playa Blanca:
<ul>
  <li>35 Km from Lanzarote (Arrecife) Airport</li>
</ul> 
    </p>

Useful information:

<br>
<br>

<p>
<img border="0" src="assets/MapRooms.png" width="75%" height="75%">
</p>

</article>

