---
layout: page
---	  
<article>



The {{ site.conference.name }} conference will take place in the {{site.conference.venue }} hotel, {{ site.conference.location }}.
From {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<br>
<br>
  <center>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11078219.707785718!2d19.307854445656485!3d-21.68408995391883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4abb160e435fa899!2sFancourt!5e0!3m2!1sen!2sde!4v1532358387548" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
  </center>
<br>
<br>

<p>The hotel is set on 613 hectares of countryside, this upscale golf resort is 8.4 km from George Airport and 23.8 km from Wilderness National Park.</p>
  <ul>
    <li>Physical address: <i>Montagu Street, Blanco, George, South Africa, 6530</i></li>
    <li>Postal address: <i>PO Box 2266, George 6530, South Africa</i></li>
    <li>GPS Co-ordinates: <i>-33.951374, 22.40667</i></li>
  </ul>
  
<h3>How to get there</h3>
  
<br><br><br>  
  
</article>

