---
layout: page
title: Program
---

<!-- <p> <b> Update! (2-Dec-2016): </b>Tentative workshops on Self-driving cars & AI safety, GANs, and Fairness and Privacy in ML.  </p> 
-->

<p> <b> Update! (12-Dec-2016). </b> Tentative list of workshops and organizers: </p>
	
<ul>
  <li> Fairness and Privacy in ML. Organizers: <a href="https://people.mpi-sws.org/~ivalera/"> Isabel Valera </a>
	  ,<a href="http://www.lancaster.ac.uk/~deballep/"> Borja del Balle Pigem</a> </li>
  <li> Self-driving cars &amp; AI safety. </li>
  <li> Reinforcement Learning. Organizer: <a href="http://learning.eng.cam.ac.uk/carl/"> Carl Rasmunssen </a></li>
  <li> Congnitive Science. Organizer: <a href="http://cocosci.berkeley.edu/tom/index.php"> Tom Griffiths </a></li>
  <li> Generative Adversarial Networks. Organizers: <a href="http://www.nowozin.net/sebastian/"> Sebastian Nowozin </a>,
	<a href="http://lopezpaz.org/"> David Lopez Paz </a></li>	
  <li> Big Data in Cancer. Organizers: <a href="http://bmi.inf.ethz.ch/personnel/gunnar-ratsch/"> Gunnar Rätsch </a>	
</ul> 
	

<br>
<hr>

<br>

<article>

  {% if site.conference.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {{ content }}
  
  <ul>
    {% for post in site.posts reversed %}
    {% if post.layout == "multitrack"%}
    {% include listmulti.html %}
    {% endif %}
    {% endfor %}

    
    {% for post in site.posts reversed %}
    {% if post.layout == "singletrack" %}
    {% include listsingle.html %}
    {% endif %}
    {% endfor %}

  </ul>

  
</article>


	
	
