---
layout: page
title: Program
---


<article>

  {% if site.conference.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {{ content }}
  
  <p>DALI consists of two days of workshops (usually 3 workshops in parallel) and around one day of keynote talks. 
	  Here is a tentative list of speakers and workshops.</p>

  <h3>Keynote Speakers</h3>
	<ul>
	<li>Ciira wa Maina</li>
	<li>Jennifer Listgarten</li>
	<li>Lester Mackey</li>
	</ul>
	
  <h3>Workshops</h3>
	<ul>
	<li>Deep Reinforcement Learning and Robotics (Raia Hadsell)</li>
	<li>Healthcare in Machine Learning (Danielle Belgrave)</li>
	<li>Fairness in Machine Learning (Moustapha Cisse and Vukosi Marivate)</li>
	<li>Machine Learning Theory (Samory Kpotufe and Ilya Tolstikhin)</li>
	<li>Optimization (Simon Lacoste-Julien)</li>
	<li>Security and Robustness (Pushmeet Kohli)</li>
	</ul>
  <br>
  <p>Full schedule of the workshop will be announced soon.</p> 	
  <br><br><br>	
  
</article>


	
	
