---
layout: page
title: Program
---

<p> <b> Update! (2-Dec-2016): </b>Tentative workshops on self-driving cars, AI safety, GANs, and Privacy and Fairness in ML.  </p> 
	
<article>

  {% if site.conference.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {{ content }}
  
  <ul>
    {% for post in site.posts reversed %}
    {% if post.layout == "multitrack"%}
    {% include listmulti.html %}
    {% endif %}
    {% endfor %}

    
    {% for post in site.posts reversed %}
    {% if post.layout == "singletrack" %}
    {% include listsingle.html %}
    {% endif %}
    {% endfor %}

  </ul>

  
</article>


	
	
