---
layout: page
---
<article>

  <p>DALI is an invitation-only event, and it is not possible to transfer this invitation to others.</p>
  
  <p>The registration fee is 450€ (7,500 ZAR) for attendees coming from academia and 600€ (10,000 ZAR) for those coming from industry. 
  Registration includes symposium and workshops, coffee breaks, and a conference dinner (possibly more).</p>

  <h3>Payment</h3>
  
  <p>Accepted payment methods are Bank Transfer, and Card Payment.
    <br><br>
   
  <strong>Bank transfer</strong>
  <br>  
  <table>
  <tr><td>Investec Bank:</td><td></td></tr>
  <tr><td>Account name:</td><td>Fenestraria</td></tr>
  <tr><td>Account no:</td><td>100 122 56 776</td></tr>
  <tr><td>Branch code:</td><td>580105</td></tr>
  <tr><td>Branch name:</td><td>100 Grayston Drive</td></tr>
  <tr><td>Swift code:</td><td>IVESZAJJXXX</td></tr>
  <tr><td>Reference:</td><td>Dali 2019 your name & your surname</td></tr>
  </table>
  <br>
  If you pay your registration fee by bank transfer, please send the proof of payment (it can be a screenshot) to <a href="mailto:lizette@praelexis.com">Lizette De Wet</a> and <a href="mailto:diana.rebmann@tuebingen.mpg.de">Diana Rebmann</a>.
  <br><br>
  <strong>Online payment</strong>
  <br><br>
  To pay online, please use the following form:
  <br><br>
  
  <form name="form" id="form" method="POST" action="javascript:void(0);" onsubmit="checkout();" target="_blank"> <!---this is where you will POST too in a NEW WINDOW--->
     <table>
        <tr><td>First name:</td><td><input type="text" size="30" name="customerFirstname" id="customerFirstname" placeholder="First Name" required></td>
        <td>Last name:</td><td><input type="text" size="30" name="customerLastname" id="customerLastname" placeholder="Last Name" required></td></tr>
        <tr><td>Affiliation:</td><td><input type="text" size="30" name="customerAffiliation" id="customerAffiliation" placeholder="Affiliation" required></td>
        <td>Email:</td><td><input type="email" size="30" name="customerEmail" id="customerEmail" placeholder="Email" required></td></tr> <!---Card holders email address--->
        <tr><td>Registration:</td>	
	<td><select name="customerType" onchange="updateCart(this)" required>
		<option value="" selected disabled hidden>Choose your registration</option>
  		<option value="academia"> Academia (7,500.00 ZAR/450 EUR)</option>
  		<option value="industry">Industry (10,000.00 ZAR/600 EUR)</option>
	</select></td>
	<td></td><td></td></tr>
     </table>
  </form>
 <br>
     <button type="reset" form="form" class="simpleCart_empty" value="Reset">RESET</button>
     <input type="submit" form="form" name="submit" value="PAY NOW">
  </p>

  <br>
  <h3>Hotel Room</h3>
  <p>To book a room at Fancourt hotel, please contact <a href="mailto:estellev@fancourt.co.za">Estelle Viljoen</a> with "Dali 2019" in the subject line.</p>
  <br><br><br>
  
  <script>  
     // update the current cart according to the chosen registration
     function updateCart( item ) {
        simpleCart.empty();
	if (item.value == "academia"){
	   simpleCart.add({name:"Academia", price: 7500.00, quantity: 1});
	}else if(item.value == "industry"){
	   simpleCart.add({name:"Industry", price: 10000.00, quantity: 1});
	}
     } 
     // checkout the cart
     function checkout(){
	if( simpleCart.items().length > 0 )
     	   simpleCart.checkout();
	else
	   alert("Your shopping cart is empty. Please choose the registration type.");
     }
  </script>

</article>
