---
layout: page
---
<article>

  <p>DALI is an invitation-only event, and it is not possible to transfer this invitation to others.</p>
  
  <p>The registration fee is 450€ for attendees coming from academia and 600€ for those coming from industry. 
  Registration includes symposium and workshops, coffee breaks, and a conference dinner (possibly more).</p>

  <h3>Payment</h3>
  
  <p>Accepted payment methods are Bank Transfer, and Card Payment.
    <br><br>
   
  <strong>Bank transfer</strong>
  <br>  
  <table>
  <tr><td>Investec Bank:</td><td></td></tr>
  <tr><td>Account name:</td><td>Fenestraria</td></tr>
  <tr><td>Account no:</td><td>100 122 56 776</td></tr>
  <tr><td>Branch code:</td><td>580105</td></tr>
  <tr><td>Branch name:</td><td>100 Grayston Drive</td></tr>
  <tr><td>Swift code:</td><td>IVESZAJJXXX</td></tr>
  <tr><td>Reference:</td><td>Dali 2019 your name & your surname</td></tr>
  </table>
  <br>
  If you pay your registration fee by bank transfer, please send the proof of payment (it can be a screenshot) to <a href="mailto:lizette@praelexis.com">Lizette De Wet</a> and <a href="mailto:diana.rebmann@tuebingen.mpg.de">Diana Rebmann</a>.
  <br><br>
  <strong>Online payment</strong>
  <br><br>
  To pay online, use the following form:

  <form name="form" id="form" method="POST" action="https://paynow.sagepay.co.za/site/paynow.aspx" target=”_blank”> <!---this is where you will POST too in a NEW WINDOW--->
  <input type="text" name="customerFirstname" value="Firstname">
  <input type="text" name="customerLastname" value="Lastname">
  <input type="text" name="customerAffiliation" value="Affiliation">
  <input type="text" name="customerEmail" value="Email"> <!---Card holders email address--->
  <input name="submit" type="submit" value="PAY NOW"> <!---Submit button--->
  </form>
  </p>

  <br>
  <h3>Hotel Room</h3>
  <p>To book a room at Fancourt hotel, please contact <a href="mailto:estellev@fancourt.co.za">Estelle Viljoen</a> with "Dali 2019" in the subject line.</p>
  <br><br><br>
  
</article>


