---
layout: page
---
<article>

  <p>DALI is an invitation-only event, and it is not possible to transfer this invitation to others.</p>
  
  <p>The registration fee is 450€ for attendees coming from academia and 600€ for those coming from industry. 
  Registration includes symposium and workshops, coffee breaks, and a conference dinner (possibly more).</p>

  <h3>Payment</h3>
  
  <p>Accepted payment methods are Bank Transfer, and Card Payment.
    <br><br>
   
  <strong>Bank transfer</strong>
  <br>  
  <table>
  <tr><td>Investec Bank:</td><td></td></tr>
  <tr><td>Account name:</td><td>Fenestraria</td></tr>
  <tr><td>Account no:</td><td>100 122 56 776</td></tr>
  <tr><td>Branch code:</td><td>580105</td></tr>
  <tr><td>Branch name:</td><td>100 Grayston Drive</td></tr>
  <tr><td>Swift code:</td><td>IVESZAJJXXX</td></tr>
  <tr><td>Reference:</td><td>Dali 2019 your name & your surname</td></tr>
  </table>
  <br>
  <strong>Online payment</strong>
  <br><br>
  To pay online, use the following links:
  <a href="javascript:;" onclick="simpleCart.add( 'name=academia' , 'price=$450' , 'quantity=1' ); simpleCart.checkout();" >academia (450€)</a> |  
  <a href="javascript:;" onclick="simpleCart.add( 'name=industry' , 'price=$600' , 'quantity=1' ); simpleCart.checkout();" >industry (600€)</a>
</div>
  
  </p>
  
  <h3>Hotel Room</h3>
  <p>To book a room at Fancourt hotel, please contact <a href="mailto:estellev@fancourt.co.za">Estelle Viljoen</a> with "Dali 2019" in the subject line.</p>
  <br><br><br>
  
</article>


