---
layout: default
---

<article>

  <header>
    <h1>Schedule Day {{ page.day }} ({{ page.date | date: "%A, %B %-d, %Y" }})</h1>
    <h2>{{ page.description }}</h2>
    {% include edit_link.html %}
  </header>
    {% if site.conference.draft %}
    <h2>Draft Schedule</h2>
    {% endif %}

    {% for workshop in site.workshops reversed %}
    {% if workshop.date == page.date %}
    <p><a href="{{ site.url }}/{{ site.baseurl }}/{{ workshop.url }}">{{ workshop.title }}</a></p>
    {% endif %}
    {% endfor %}

    <table class="list-day-table">
      {% for talk in page.events %}
      {% include listtalk.html separator="table"%}
      {% endfor %}
    </table>
  
</article>
