---
layout: default
---

<article>

<h1>Workshop: {{ page.title }}</h1>
    {% include edit_link.html %}

<div class="workshop-header">

  <div class="workshop-header-key">Date & Time:</div>
  <div class="workshop-header-value">
    {% if page.date and page.starttime %}
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %B %-d, %Y" }}, {{ page.starttime | date: "%H:%M" }}&thinsp;–&thinsp;{{ page.endtime | date: "%H:%M" }}</time>
    {% elsif page.date %}
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %B %-d, %Y" }}, time TBA</time>
    {% else %}
      TBA
    {% endif %}
  </div>

  <div class="workshop-header-separator"></div>

  <div class="workshop-header-key">Room:</div>
  <div class="workshop-header-value">
    {% if page.room %} 
      {{ page.room }} 
    {% else %} 
      TBA 
    {% endif %}
  </div>

  <div class="workshop-header-separator"></div>

  <div class="workshop-header-key">Organizers:</div>
  <div class="workshop-header-value">
    {% for person in page.organizers %}
      {% include listperson.html separator='' prefix='<p class="small-margin">' postfix='</p>'%}</p>
    {% endfor %}
  </div>

</div>
{% if site.conference.draft %}
<h2>Draft Schedule</h2>
{% endif %}

{% assign content = page.content | strip_newlines %}
{% if content == '' %}
<em>This workshop does not yet have a description.</em>
{% else %}
{{ content }}
{% endif %}

{% if page.room %}
<h3>Room: {{ page.room }}</h3>
{% elsif site.conference.room %}
<h3>Room: {{ site.conference.room }}</h3>
{% else %}
<h3>Room: TBA</h3>
{% endif %}

{% for talk in page.talks %}
{% include listtalk.html %}
{% endfor %}
    
    
{% if page.show_abstracts %}
<h1 style='font-size:2em'>Abstracts</h1>
<!--    abstracts-->
{% for talk in page.talks %}
{% if talk.abstract %}
<h4 id='{{ talk.title | remove: ' ' | remove: ':' }}' style='margin-bottom:0'><b>{{ talk.title }}</b></h4>
{{ talk.speaker }}


<p style='margin-top:1em'>
  {{ talk.abstract }}
</p>
{% endif %}
{% endfor %}

{% endif %}

  
</article>

